* {
  font-family: 'Sarpanch', sans-serif;
}

.copter-game {
  background: black;
  background-size: cover;
  min-height: 100vh;
  text-align: center;
  color: #ffffff;
}
.game-canvas {
  margin: auto;
  display: block;
  text-align: center;
  padding-top: 20px;
}

#start-game, #end-game {
  text-align: center;
}

.score-count {
  text-align: center;
  padding-right: 20px;
  padding-top: 25px;
  color: #ffffff;
  display: inline-block;
  position: relative
    margin: 40px 0;
    font-size: 40px;
    line-height: 40px;
    font-weight: 600;
  }

.scoreboard {
  padding-left: 50px;
  float: left;
  color: #ffffff;
}

#scoreboard-table {
  font-size: 24px;
}


button {
  text-align: center;
  position: relative;
  display: inline-block;
  margin-top: 100px;
	background-color: firebrick;
	color: white;
	box-shadow: 1px 0px 1px #DC143C,
				0px 1px 1px red,
				2px 1px 1px #DC143C,
				1px 2px 1px red,
				3px 2px 1px #DC143C,
				2px 3px 1px red,
				4px 3px 1px #DC143C,
				3px 4px 1px red,
				5px 4px 1px #DC143C,
				4px 5px 1px red,
				6px 5px 1px #DC143C;
	cursor: pointer;
	border: 0px;
	font-size: 45px;
	font-weight: normal;
}

/*.info {
  padding-top: 10px;
}

.info #game-title {
}*/
